<web-app>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>javaAngularJS</servlet-name>
    <servlet-class>com.controller.AngularJsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>marketIndexesServlet</servlet-name>
    <servlet-class>com.controller.MarketIndexesServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>autoCompleteServlet</servlet-name>
    <servlet-class>com.controller.AutoCompleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>javaAngularJS</servlet-name>
    <url-pattern>/javaAngularJS</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>marketIndexesServlet</servlet-name>
    <url-pattern>/marketIndexesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>autoCompleteServlet</servlet-name>
    <url-pattern>/autoCompleteServlet</url-pattern>
  </servlet-mapping>
</web-app>
